<div class="flex-1 p-8">
  <h1 class="title-register">Cadastrar Veículo</h1>
  <h3 class="info-title">Preencha os dados do veículo e do proprietário</h3>

  <div class="warning mt-2 mb-2">
                <lucide-icon name="lightbulb" [size]="20" [style.color]="'var(--color-warning-200)'"/>
                <div class="ml-3">
                  <span>
                    <b>Dica:</b>
                  </span>

                  <span>
                    Preencha a placa primeiro. O sistema consultará o DETRAN e preencherá automaticamente os dados do veículo.
                  </span>
                </div>
            </div>
</div>