<div class="block-screen sidebar-menu">
    <div class="block-1/6">
        <div class="sidebar_top">
            <div class="park-button">
                <div class="park-logo">
                    P
                </div>
            </div>

            <div class="park-info ml-2">
                <div class="park-name">
                    <span style="color: #101828;">Park</span>
                    <span style="color: #2D6EC9;">OS</span>
                </div>
                
                <span style="font-size: 12px; font-weight: 400;">Gestão de Estacionamento</span>    
            </div>
        </div>
    </div>

    <div class="block-4/6">
        <div class="sidebar">
            2
        </div>
    </div>

    <div class="block-1/6">
        <div class="sidebar_bottom">
            3
        </div>
    </div>
</div>