*{
    border: 1px solid red;
}

.sidebar-menu{
    border-right: 1px solid #e4e7ec;
}

.menu_name{
    font-size: 15px;
    width: 100%;
}

.park-button{
    border-radius: 50%;
    background-color: #062751;
    display: flex;
    width: 50px;
    height: 60px;
}

.menu_item {
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 8px;
    padding: 6px;
}

.menu_item:hover {
    background-color: #C5D8F5;
}

.menu_item.active {
    background-color: #5994D8;
    color: white;
}

.park-logo{
    border-radius: 50%;
    background-color: #101828;
    width: 5px;
    margin: auto;
}

.live{
    display: flex;
    font-size: 12px;
    height: 24px;
    width: 50px;
    float: right;
    border-radius: 16%;
    background-color: #1A56A0;
    color: white;
}

.sidebar_middle{
  display: block;
  border-bottom: 1px solid #e4e7ec;  
}

.sidebar_top{
    border-bottom: 1px solid #e4e7ec;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.park-name{
    font-weight: bold;
}